<div class="container">
    <div class="row pt-4 center_items">
        <!-- <div class="col-12"> -->
        <div class="col-12">
            <span style="font-size: 31px !important;font-weight: 500;position: relative;left: 235px;">Coronavirus
                (COVID-19) Statistics({{country}})</span>
        </div>
        <div class="card">
            <div class="card-header bg-warning" align="center">
                Total Confirmed Cases
            </div>
            <div class="card-body">
                <h5 align="center" class="card-title">{{totalConfirmed}}</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-secondary" align="center">
                Total Death Cases
            </div>
            <div class="card-body">
                <h5 align="center" class="card-title">{{totalDeaths}}</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-success" align="center">
                Total Recovered Cases
            </div>
            <div class="card-body">
                <h5 align="center" class="card-title">{{totalRecovered}}</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="background-color: #fc4103;" align="center">
                Total Critical Cases
            </div>
            <div class="card-body">
                <h5 align="center" class="card-title">{{totalCritical}}</h5>
            </div>
        </div>
        <!-- </div> -->
    </div>


    <div class="form-group col-lg-5 mx-auto">
        <label for="c">Select Country</label>
        <select name="" class="form-control" id="c" #input (change)='updateValues(input.value)'>
            <option [value]="con.code" *ngFor='let con of countries'>{{con.name}}</option>
        </select>
    </div>

    <div class="row">
        <div class="col">

            <div id="chart">
                <apx-chart *ngIf="showChart"
                  [series]="chartOptions.series"
                  [chart]="chartOptions.chart"
                  [yaxis]="chartOptions.yaxis"
                  [xaxis]="chartOptions.xaxis"
                  [labels]="chartOptions.labels"
                  [stroke]="chartOptions.stroke"
                  [plotOptions]="chartOptions.plotOptions"
                  [markers]="chartOptions.markers"
                  [fill]="chartOptions.fill"
                  [tooltip]="chartOptions.tooltip"
                ></apx-chart>
              </div>
        </div>
    </div>